body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 50px 0;
}

p {
    font-size: 2rem;
    line-height: 1.6;
}

// HEADER

header {
    padding: 50px 0;
    background-color: #6a91ab;
}

h1 {
    margin: 0;
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;

}

// ABOUT TEXT

.aboutText p {
    text-align: center;
}
// OPENING

.opening {
    padding: 100px 0;
}

// BUTTONS AND FORMS

.addressQuery {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

.queryText,
.querySubmit {
    flex-basis: 100%;
    padding: 15px;
    border-radius: 5px;
}

.queryText {
    border: 0;
    border: solid 1px grey;
} 
.querySubmit {
    background-color:#c4d7df;
    border: 0;
    margin-top: 10px;
}

.resultButtons {
    width: 100%;
    margin-top: auto;
}

button.findSafe,
button.anotherQuery {
    background-color:#c4d7df;
    border: 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

button.anotherQuery {
    margin-top: 10px;
}

// MAP

.resultMapHidden {
    width: 1px;
    height: 1px;
}

.resultMapDisplay {
    width: 500px;
    height: 500px;
    flex-basis: 500px;
}

// RESULTS

.results {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.separatingLine {
    width: 1.5px;
    height: 500px;
    background-color: grey;
    margin: 0 10px;
}

.results h3 {
    border: solid 1px red;
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.textResults {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// FOOTER

footer {
    bottom: 0;
    height: 50px;
    background-color: #6a91ab;
}

.footerFixed {
    position: relative;
    bottom: 0;
    width: 100%;
}
